.sidebar-img{
    background-image: url('../image/sidebar.jpg');
    background-position: 0px -60px; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    opacity: 0.8;
    border-radius: 15px; 
}
.sidebar-img:hover{
    opacity: 1;
}
.sidebar-img-2{
    background-image: url('../image/sidebar2.jpg');
    background-position: 0px -60px; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    opacity: 0.8;

    border-radius: 15px; 
}
.sidebar-img-2:hover{
    opacity: 1;
}
@media (max-width: 767.98px) {
    .header-style{
        text-align: center;
    }
 }